<section class="album">
    <div class="container">
        <div class="album-left">
            <div class="album-item">
                <div class="album-item__image">
                    <img src="./images/album-1.png" alt="album"/>
                </div>
                
                <div class="album-item__content">
                    @@include("../commons/typography-h5.html", {
                        "contentTypography": "Try it today"
                    })
            
                    @@include("../commons/typography-h2.html", {
                        "contentTypography": "Most Popular Pasta"
                    })
                </div>
            </div>
        </div>

        <div class="album-right">
            <div class="album-item">
                <div class="album-item__image">
                    <img src="./images/album-2.png" alt="album"/>
                </div>
                
                <div class="album-item__content">
                    @@include("../commons/typography-h5.html", {
                        "contentTypography": "Try it today"
                    })
            
                    @@include("../commons/typography-h3.html", {
                        "contentTypography": "More fun more taste"
                    })
                </div>
            </div>

            <div class="album-item">
                <div class="album-item__image">
                    <img src="./images/album-3.png" alt="album"/>
                </div>
                
                <div class="album-item__content">
                    @@include("../commons/typography-h5.html", {
                        "contentTypography": "Try it today"
                    })
            
                    @@include("../commons/typography-h3.html", {
                        "contentTypography": "Fresh & Chili"
                    })
                </div>
            </div>
        </div>
    </div>
</section>