<section class="banner">
    <div class="container">
        <div class="banner__text">
            <div class="banner__text-title">
                <span class="banner__text-title-question">Are you hungry?</span>
                <span class="banner__text-title-content">Don't wait!</span>
                <span class="banner__text-title-answer">Let start to order food now</span>
            </div>
            
            <div class="banner__text-sub">
                <div class="banner__text-sub-pre">
                    <span>This moday</span>
                    <span>Happy hours</span>
                </div>
                <div class="banner__text-sub-main">
                    <span>1+1=3</span>
                </div>
            </div>

            <div class="banner__text-button">
                @@include('../commons/button-border.html', {
                    "contentButton": "Order now"
                })
            </div>
        </div>

        <div class="banner__image">
            <img src="./images/banner-part-3.png" />
        </div>

        <div class="banner__flower">
            <img src="./images/banner-part-2.png" />
        </div>
    </div>
</section>