<section class="choiceAndEnjoy">
    <div class="container">
        <div class="choiceAndEnjoy__text">
            <div class="choiceAndEnjoy__text-title">
                @@include("../commons/typography-h1.html", {
                    "contentTypography": "Choice & enjoy"
                })
            </div>
            <div class="choiceAndEnjoy__text-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
        </div>

        <div class="listFood">
            <div class="listFood-item">
                @@include("../commons/food-item.html", {
                    "imageSrc": "./images/food-1.png",
                    "titleFood": "Lorem ipsum dolor",
                    "contentFood": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
                })
            </div>

            <div class="listFood-item">
                @@include("../commons/food-item.html", {
                    "imageSrc": "./images/food-2.png",
                    "titleFood": "Lorem ipsum dolor",
                    "contentFood": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
                })
            </div>

            <div class="listFood-item">
                @@include("../commons/food-item.html", {
                    "imageSrc": "./images/food-3.png",
                    "titleFood": "Lorem ipsum dolor",
                    "contentFood": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do",
                })
            </div>
        </div>
    </div>
</section>